@using HireProgrammer.Extensions;
@model List<PostViewModel>

@{
    ViewBag.Title = "My Posts";

    var modelGroups = Model
               .Select((x, i) => new { Index = i, Value = x })
               .GroupBy(x => x.Index / 100)
               .Select(x => x.Select(v => v.Value).ToList())
               .ToList();

    bool first = true;
}

<h1 class="text-center">@ViewBag.Title</h1>
<br>

@if (Model.Count == 0)
{
    <p class="alert-warning text-center">@GlobalExceptions.PostsDoNotExist</p>
}
else
{
    <div class="container">

        @foreach (var modelGroup in modelGroups)
        {
            <div class="row justify-content-around">
                @foreach (var model in modelGroup)
                {
                    <div class="card mb-3 col-md-4">
                        <div class="card-body ">
                            <h3>@(model.Title)</h3>
                            <br>
                            <p>Description: <b>@(model.Description)</b></p>
                            <p>
                                Starting Salary:
                                <b>@String.Format("{0:f2}", model.StartingSalary) BGN</b>
                            </p>
                            <p>Hiring Position: <b>@(model.HiringPosition)</b></p>
                            <p>Working Hours:<b>@(model.WorkingHours)</b> </p>
                            <p>Starting Salary: <b>@(model.StartingSalary)</b></p>
                            <p>PostedOn: <b>@(model.PostedOn)</b></p>

                            @if (this.User.Identity.IsAuthenticated)
                            {
                                @if (model.UserId == this.User.Id())
                                {
                                    <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@(model.Id)">Edit</a>
                                    <a class="ml-2 btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@(model.Id)">Delete</a>
                                }
                                else
                                {
                                   <a asp-controller="Post" asp-action="Contact" class="btn btn-info">Contact</a>
                                }
                            }
                        </div>
                    </div>
                         first = true;
                }

            </div>
        }
    </div>
}